<nav class="navbar fixed-top navbar-expand-lg navbar-light">

    <a class="navbar-brand" href="/">
        <!-- logo -->
        <img src="/web/dist/img/logo.png" width="30" height="36" class="d-inline-block align-top" alt="Logo del Hospital">
        Hospital Dr. Ricardo Gutiérrez
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- buscador -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="search-navbar" type="text" placeholder="Buscar">
                <button class="btn btn-secundary my-2 my-sm-0" id="btn-search-navbar" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </ul>

        <ul class="navbar-nav">
            {% if currentUser %}
                {% include 'utils/header/navbarUser.html.twig' %}
            {% else %}
                {% include 'utils/header/navbarVisitor.html.twig' %}
            {% endif %}
        </ul>

    </div>
</nav>
