{% import 'utils/header/navItem.html.twig' as navbar %}
    
    <ul class="navbar-nav">
            {{ navbar.item('Pacientes') }}
    </ul>

    <span class="navbar-text">
      luciano.ringuelet
    </span>