{% macro item(type, title, body) %}
    <div class="alertContainer">
        <div class="alert alert-{{ type }} center-block alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{title}}</strong> {{body}}
        </div>
    </div>
{% endmacro %}
