{% import 'utils/alert.html.twig' as alert %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/web/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/web/dist/css/main.css">

    {% block stylesheets %}
    {% endblock %}

    <title>{{ site.title }}</title>
</head>

<body>
    {% include 'utils/header/navbar.html.twig' %}

    <div class="content">

        {% for message in flashes %}
            {{ alert.item(message.type, message.title, message.body) }}
        {% endfor %}

        {% block body %}
        {% endblock %}
    </div>

    {% include 'utils/footer/footer.html.twig' %}

    <script src="/web/assets/jquery/jquery.min.js"></script>
    <script src="/web/assets/bootstrap/js/popper.min.js"></script>
    <script src="/web/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/web/dist/js/initialize.js"></script>
    {% block javascripts %}
    {% endblock %}

</body>

</html>
