<form method="post" action="/admin/users/new" class="modal fade multi-step" id="addUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title step-1" data-step="1">Datos Personales</h5>
                <h5 class="modal-title step-2" data-step="2">Roles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body step step-1">
                <div class="row">
                    <div class="form-group col">
                        <label for="Nombre">Nombre</label>
                        <input type="text" id="_name" name="firstName" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group col">
                        <label for="Apellido">Apellido</label>
                        <input type="text" id="_surname" name="lastName" class="form-control" placeholder="Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Direccion De Email">Dirección de Email</label>
                    <input type="email" id="_email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="nombre de usuario">Nombre de Usuario </label>
                    <input type="text" id="_username" name="username" class="form-control" placeholder="Nombre de usuario">
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="Contraseña">Contraseña</label>
                        <input type="password" id="_pass" name="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="form-group col">
                        <label for="Confirmar Contraseña">Confirmar contraseña</label>
                        <input type="password" id="_confirmPass" name="confirmPass" class="form-control" placeholder="Confirmar contraseña">
                    </div>
                </div>
            </div>
            <div class="modal-body step step-2">
                <div class="form-check">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="recepcionista" name="recepcionista">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Recepcionista</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="pediatra" name="pediatra">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Pediatra</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="administrador" name ="administrador">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Administrador</span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default" id="cancelbtn">Cancelar</button>
                <button type="button" class="btn btn-primary step step-1" id="goNext" data-step="1">Continuar</button>
                <button type="button" class="btn btn-primary step step-2"  id="goBack" data-step="1">Volver</button>
                <button type="submit" id="submitUser" class="btn btn-primary step step-2" data-step="1">Confirmar</button>
            </div>
        </div>
    </div>
</form>
