<div class="col-lg-3">
    <div class=" card searchForm">
        <div class="card-header">
            <h5>Buscar por:</h5>
        </div>
        <div class="card-block">
            <form class="form-horizontal" method="get" action="/admin/users">
                <div class="container">
                    <br>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Nombre de usuario:</label>
                        <input type="text" name="username" value="{{ data.username }}" class="form-control" aria-describedby="emailHelp" placeholder="Nombre de Usuario">
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Estado:</label>
                        <select class="form-control" name="state">
                            <option {% if data.state is empty %}selected{% endif %} value="">Seleccione Estado</option>
                        <option {% if data.state == 'active' %}selected{% endif %} value="active">Activo</option>
                        <option {% if data.state == 'blocked' %}selected{% endif %} value="blocked">Bloqueado</option>
                    </select>
                    </div>
                    <p><button type="submit" class="btn btn-primary" role="button"><i class="fa fa-search"></i> Buscar</button></p>
                </div>
            </form>
        </div>
    </div>
</div>
