<thead>
    <tr>
        <th>Nombre de Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Estado</th>
        <th>Opciones</th>
    </tr>
</thead>

</tbody>
<tr>
    <td>francoborrelli</td>
    <td>Franco Martin</td>
    <td>Borrelli</td>
    <td>francoborrelli96@outlook.com</td>
    <td>Pediatra</td>
    <td>Bloqueado</td>
    <td class="text-center">
        <div class="btn-group" role="group">
            <button type="button" data-toggle="tooltip" title="Editar" data-id="1" class="btn btn-orange btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" data-toggle="modal" data-target="#deleteUser" title="Eliminar" data-id="1" class="btn btn-danger btn-sm deletebtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
    </td>
</tr>

<tr>
    <td>pedrobrost</td>
    <td>Pedro</td>
    <td>Brost</td>
    <td>laroca@gmail.com</td>
    <td>Recepcionista</td>
    <td>Activo</td>
    <td class="text-center">
        <div class="btn-group" role="group">
            <button type="button" data-toggle="tooltip" title="Editar" data-id="2" class="btn btn-orange btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" data-toggle="modal" data-target="#deleteUser"  data-id="2" class="btn btn-danger btn-sm deletebtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
    </td>
</tr>
</tbody>