{% extends 'utils/base.html.twig' %} 

{% block stylesheets %}
<link rel="stylesheet" href="assets/dataTables/css/dataTables.bootstrap4.min.css"> 
<link rel="stylesheet" href="assets/dataTables/css/responsive.bootstrap4.min.css"> 
{% endblock %} 

{% block body %}

<div class="container userReport">
    <div class="card">
        <div class="card-header text-left">
            <a class="btn btn-primary detalle" id="goBack" data-toggle="tooltip" data-placement="left" title="Volver al inicio" href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>
            <h3>Usuarios</h3>
        </div>
        <div class="card-block">
            <div class="tablePage">
                <table class="table table-striped" id="usuarios">
                    <thead>
                        <tr>
                            <th>Nombre de Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>francoborrelli</td>
                            <td>Franco Martin</td>
                            <td>Borrelli</td>
                            <td>francoborrelli96@outlook.com</td>
                            <td>Bloqueado</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>pedrobrost</td>
                            <td>Pedro</td>
                            <td>Brost</td>
                            <td>laroca@gmail.com</td>
                            <td>Activo</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block javascripts %}
<script src="assets/dataTables/js/datatables.min.js"></script>
<script src="assets/dataTables/js/responsive.bootstrap4.min.js"></script>
<script src="dist/js/users.js"></script>
{% endblock %}