{% embed 'utils/tablePage/search.html.twig' with {'action': '/admin/users'} %} 
    {% block content %}
        <div class="form-group">
            <label class="col-xs-3 control-label">Nombre de usuario:</label>
            <input type="text" name="username" value="{{ data.username }}" class="form-control" aria-describedby="emailHelp" placeholder="Nombre de Usuario">
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Estado:</label>
            <select class="form-control" name="state">
            <option {% if data.state is empty %}selected{% endif %} value="">Seleccione Estado</option>
            <option {% if data.state == 'active' %}selected{% endif %} value="active">Activo</option>
            <option {% if data.state == 'blocked' %}selected{% endif %} value="blocked">Bloqueado</option>
            </select>
        </div>
    {% endblock %} 
    
{% endembed %}