<div class="col-md-3">
    <div class=" card searchForm">
        <div class="card-header">
            <h5>Buscar por:</h5>
        </div>
        <div class="card-block">
            <form class="form-horizontal" method="get" }}>
                <div class="container">
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Buscar">
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Estado:</label>
                        <select class="form-control">
                        <option selected value="">Seleccione Estado</option>
                        <option value="Activo">Activo</option>
                        <option value="Bloqueado">Bloqueado</option>
                    </select>
                    </div>
                    <p><button type="submit" class="btn btn-primary" role="button"><i class="fa fa-search"></i> Buscar</button></p>
                </div>
            </form>
        </div>
    </div>
</div>