.container{
    background-color: #fafafa;
    height: 350px;
    padding: 100px 0 70px;
}

.card{
    margin: 0 auto;
    width: 400px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.card .top{
    background-color: #009688;
    text-align: center !important;
    margin: 0;
    color: #fff;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    font-size: 1.2rem;
}

.card .bottom{
    flex: 1 1 auto;
    padding: 1.25rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.card button{
    display: block;
    width: 100%;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
    cursor: pointer;
}

.card input{
    display: block;
    width: 93%;
    margin-bottom: 15px;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

.card .forget{
    text-align: center;
}

.card .forget a{
    color: #464a4c;
    text-decoration: none;
}
