@import "navbar.css";
@import "footer.css";

body{
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    margin: 0;
}

.main-container{
    background-color: #FAFAFA;
    margin-top: 78px;
    min-height: 250px;
}

hr {
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
