{% macro new_article(title, icon, text, route) %}

<div class="col-lg-4">
    <div class="iconbox-4">
        <i class="fa {{ icon }}"></i>
        <br><br>
        <h4 class="heading">{{ title }}</h4>
        <p>{{text}}</p>
        <br>
        <a href="{% if route %} {{ route }} {% else %} # {% endif %}" class="btn btn-black btn-sm">Leer más</a>
    </div>
</div>

{% endmacro new_article %}