{% import 'Home/article.html.twig' as article %}

<div class="bgcolor1 pt-60 pb-60  cbp-fbscroller" id="cbp-fbscroller">
  <div class="container">
      <div class="row">
          {% for entry in site.articles %}
              {{ article.new_article(entry.title, entry.icon, entry.body) }}
          {% endfor %}
    </div>
  </div>
</div>
