{% macro new_article(title, icon, text, route) %}

    <div class="card">
        <div class="card-header">
            <i class="fa {{ icon }}" aria-hidden="true"></i>&nbsp {{ title }}
        </div>
        <div class="card-body">
            <p class="card-text">{{ text }}</p>
        </div>
        <div class="card-footer bg-transparent text-right"><a href="{% if route %} {{ route }} {% else %} # {% endif %}" class="btn btn-primary">Más información</a></div>
    </div>

{% endmacro new_article %}