{% import 'Home/article.html.twig' as article %}

<div class="bgcolor1 pt-60 pb-60  cbp-fbscroller" id="cbp-fbscroller">
  <div class="container">
    <div class="row">
      {{ article.new_article('El Hospital', 'fa-hospital-o', 'Este centro de salud tiene un programa de residencias de primer nivel en el pais. Se ofrecen oportunidades de práctica intensiva y supervisada en ámbitos profesionales y por la misma - por supuesto - se recibe un salario mensual, acorde a lo que la regulación médica profesional lo indica en cada momento.' ) }}
      {{ article.new_article('Especialidades', 'fa-stethoscope', 'Acorde a una respetable trayectoria en materia de medicina y salud, en Hospital Dr. Ricardo GUtierrez de La Plata podemos encontrar profesionales de las principales especialidades de salud. Del mismo modo, se brinda atención programada y de urgencias, se realizan estudios médicos y se brinda soporte en muchas de las ramas comunes de la medicina moderna.' ) }}
      {{ article.new_article('Guardia', 'fa-heartbeat', 'Hospital Dr. Ricardo Gutierrez de La Plata dispone de un sofisticado servicio de guardias médicas las 24 horas para la atención de distintas urgencias. La administración de la institución hace viable una eficiente separación de los pacientes según el nivel de seriedad y tipo de patología.' ) }}
    </div>
  </div>
</div>
