{% macro new_article(title, icon, text, route) %}

<div class="card wthree-s1 ">
    <span class="fa {{ icon }} sicon" aria-hidden="true"></span>
    <h4>{{ titlte }}</h4>
    <p>{{ text }}</p>
    <div class="w3-button">
        <a href="{% if route %} {{ route }} {% else %} # {% endif %}">Leer más</a>
    </div>
</div>

{% endmacro new_article %}