{% extends 'utils/base.html.twig' %} 

{% block stylesheets %}
	<link rel="stylesheet" href="/dist/css/index.css"> 
{% endblock %} 

{% block body %}

	<!-- banner -->
	<img src="/dist/img/hospital.jpg" class="banner" alt="Banner Hospital">
	
	<!-- articles -->
	<div class="w3ls-about w3ls-section">
		<div class=" articles ">
			<div class="card-deck about-head text-center">
				{% include 'Home/articles.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}