{% extends 'utils/base.html.twig' %} 

{% block stylesheets %}
    <link rel="stylesheet" href="/web/dist/css/index.css">
{% endblock %}

{% block body %}
    <img src="/web/dist/img/hospital.jpg" class="banner" alt="Banner Hospital">
    
    <div class="articles"> 
        {% include 'Home/articles.html.twig' %}
    </div>
{% endblock %}
