@mixin dark-overlay {
    &:after {
        content: "";
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transition: all 0.2
    }
}

.full-overlay {
    position: relative;
    @media (max-width: 576px) {
      @include dark-overlay;
    }
}

.full-overlay:after {
    background: rgba(0, 0, 0, 0.40);
}

#navbar {
    .sider {
        background-color: white;
    }
    .ant-layout-sider-children {
        position: fixed;
        width: 199px;
    }
    .ant-layout-sider-collapsed {
        .ant-layout-sider-children {
            width: 0;
            .logonb {
                margin-left: 23px;
            }
        }
    }
    .ant-layout-header {
        background: #fff;
        padding: 0;
        border-bottom: 1px solid #e8e8e8;
    }
    .ant-layout-sider,
    .ant-menu-inline-collapsed {
        border-right: 1px solid #e8e8e8;
    }
    .ant-menu-inline,
    .ant-menu-horizontal {
        border-right: 0px;
    }
    .userSection {
        float: right;
    }
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
        &:hover {
            color: #1890ff;
        }
    }
    .logonb {
        height: 30px;
        margin: 15px;
        text-align: center;
        background-color: transparent;
        img {
            height: 40px;
        }
    }
    @media(max-width: 500px) {
        .addPatient,
        .addUser {
            display: none;
        }
    }
}
