{% extends 'utils/base.html.twig' %} 

{% import 'Home/article.html.twig' as article %}

{% block stylesheets %}
	<link rel="stylesheet" href="/web/dist/css/index.css"> 
    <link rel="stylesheet" href="/web/dist/css/editArticles.css"> 
{% endblock %} 

{% block body %}

<form method="post" action="/config/articles/update">

    <div class="bgcolor1 pt-60 pb-60  cbp-fbscroller" id="cbp-fbscroller">
    <div class="container">
    <h2 class="mainTitle">Editar Articulos</h2>
    <hr>
        <div class="row">
          {% for entry in site.articles %}
              {{ article.edit_article(entry.title, loop.index0, entry.icon, entry.body) }}
          {% endfor %}
        </div>
    <hr>  
    <button class="btn btn-edit btn-primary text-right" type="submit">Guardar</button>  
    <a class="btn btn-edit btn-outline-primary" href="/config">Volver</a> 
    </div>

    </div>

</form>
{% endblock %}


{% block javascripts %}
    <script src="/web/assets/jquery-validate/jquery.validate.min.js"></script>
    <script src="/web/assets/jquery-validate/autoresize.jquery.js"></script>
    <script> $('textarea').autoResize(); </script>
{% endblock %}
