<div class="row">
        <div class="col-md-12">
            <div class="white-box demo">
                <div class="user-btm-box">
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r"><strong>Tipo de Casa</strong>
                            <p>Jonathan Doe</p>
                        </div>
                        <div class="col-md-6 b-r"><strong>Tipo de Calefacción</strong>
                            <p>jondoe@gmail.com</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r"><strong>Tipo de Agua</strong>
                            <p>Pozo</p>
                        </div>
                        <div class="col-md-6 "><strong>¿Tiene Heladera?</strong>
                            <p>Si</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r"><strong>¿Tiene Electricidad?</strong>
                            <p>No</p>
                        </div>
                        <div class="col-md-6"><strong>¿Tiene Mascotas?</strong>
                            <p>Si</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>