{% import 'utils/switch.html.twig' as switch %}

<form method="post" action="" class="modal fade" id="editDemographicInfo">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Datos Demograficos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                        <!-- tipo de vivienda -->
                        <div class="form-group col">
                            <label for="houseTypeId">¿Tipo de vivienda? *</label>
                            <select id="houseTypeId" name="houseTypeId" class="form-control form-control-chosen-required" data-placeholder="Vivienda">
                            <option value="">Selecciona tipo de casa</option>
                            <option value="Casa">Casa</option>
                            <option value="Departamento">Departamento</option>
                            <option value="Rancho">Rancho</option>
                            <option value="Pieza en inquilinato">Pieza en inquilinato</option>
                            <option value="Pension">Pension</option>
                            <option value="Vivienda movil">Vivienda móvil</option>
                            <option value="Calle">Calle</option>
                        </select>
                        </div>

                        <!-- tipo de calefaccion -->
                        <div class="form-group col">
                            <label for="heatingTypeId">¿Tipo de calefacción? *</label>
                            <select id="heatingTypeId" name="heatingTypeId" class="form-control form-control-chosen-required" data-placeholder="Calefaccion">
                            <option value="">Selecciona tipo de calefacción</option>
                            <option value="Gas">Gas</option>
                            <option value="Electrica">Electrica</option>
                            <option value="Otro">Otro</option>
                            <option value="No">No dispone</option>
                        </select>
                        </div>

                        <!-- tipo de agua -->
                        <div class="form-group col">
                            <label for="waterTypeId">¿Tipo de agua? *</label>
                            <select id="waterTypeId" name="waterTypeId" class="form-control form-control-chosen-required" data-placeholder="Calefaccion">
                            <option value="">Selecciona tipo de agua</option>
                            <option value="Red Publica">Red Publica</option>
                            <option value="Cisterna">Cisterna</option>
                            <option value="bomba a Motor">Bomba a Motor</option>
                            <option value="bomba Manual">Bomba manual</option>
                            <option value="Pozo">Pozo</option>
                            <option value="natural">Fuente natural</option>
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <!-- heladera? -->
                        <div class="form-group col text-center">
                            <label for="fridge">¿Tiene heladera? *</label> {{ switch.item('Tiene','No tiene', 'editFridge', patient.refrigerator)}}
                        </div>

                        <!-- electricidad? -->
                        <div class="form-group col text-center">
                            <label for="electricity">¿Tiene electricidad? *</label> {{ switch.item('Tiene','No tiene', 'editElectricity', patient.electricity)}}
                        </div>

                        <!-- mascotas? -->
                        <div class="form-group col text-center">
                            <label for="pets">¿Tiene mascotas? *</label> {{ switch.item('Tiene','No tiene', 'editPets', patient.pet) }}
                        </div>
                    </div>
            </div>
    <div class="modal-footer">
        <small id="error" class="error">*Campos Obligatorios</small>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
    </div>
    </div>
</form>