
<tr>
    <td>DNI</td>
    <td>44.444.444</td>
    <td>Franco</td>
    <td>Borrelli</td>
    <td>27/07/1996</td>
    <td>Masculino</td>
    <td>43 22 y 43</td>
    <td>4534532</td>
    <td>IOMA</td>
    <td>Si</td>
    <td>No</td>
    <td>Si</td>
    <td>Rancho</td>
    <td>Gas</td>
    <td>Cisterna</td>
    <td class="text-center">
        <div class="btn-group" role="group">
            <button type="button" data-toggle="modal" data-target="#editPatient" title="Editar" data-id="2" class="btn btn-orange btn-sm editbtn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" data-toggle="modal" data-target="#deletePatient" title="Eliminar" data-id="2" class="btn btn-danger btn-sm deletebtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
    </td>
</tr>
<tr>
    <td>Pasaporte</td>
    <td>33.333.333</td>
    <td>Pedro</td>
    <td>Brost</td>
    <td>10/07/1993</td>
    <td>Masculino</td>
    <td>1 y 50</td>
    <td>22222</td>
    <td>OSDE</td>
    <td>No</td>
    <td>Si</td>
    <td>Si</td>
    <td>Departamento</td>
    <td>Electrica</td>
    <td>Pozo</td>
    <td class="text-center">
        <div class="btn-group" role="group">
            <button type="button" data-toggle="modal" data-target="#editPatient" title="Editar" data-id="3" class="btn btn-orange btn-sm editbtn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" data-toggle="modal" data-target="#deletePatient" title="Eliminar" data-id="3" class="btn btn-danger btn-sm deletebtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
    </td>
</tr>

