
<tr>
    <td>DNI</td>
    <td>44.444.444</td>
    <td>Franco</td>
    <td>Borrelli</td>
    <td>27/07/1996</td>
    <td>M</td>
    <td>43 22 y 43</td>
    <td>4534532</td>
    <td>IOMA</td>
    <td>Si</td>
    <td>No</td>
    <td>Si</td>
    <td>Plaza</td>
    <td>Corriente</td>
    <td class="text-center">
        <div class="btn-group" role="group">
            <button type="button" data-toggle="modal" data-target="#editPatient" title="Editar" data-id="" class="btn btn-orange btn-sm editbtn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" data-toggle="modal" data-target="#deletePatient" title="Eliminar" data-id="" class="btn btn-danger btn-sm deletebtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
    </td>
</tr>

