<form class="row" id="addRecord" method="POST" action="">
    <div class="col-md-12">
        <div class="white-box">
            <div class="user-btm-box">
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r"><strong>Edad</strong>
                        <p></p>
                    </div>
                    <div class="col-md-6"><strong>Peso</strong>
                        <br>
                        <input type="number" id="weight" name="weight" class="form-control text-center" placeholder="Ingrese el peso" aria-invalid="false" min="0" step="0.01">
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>Percentilo Cefálico (PC)</strong>
                        <br>
                        <input type="number" id="pc" name="pc" class="form-control text-center" placeholder="Ingrese el valor de PC" aria-invalid="false" min="0" step="0.01">
                    </div>
                    <div class="col-md-6">
                        <strong>Percentilo Perímetro Cefálico (PPC)</strong>
                        <br>
                        <input type="number" id="ppc" name="ppc" class="form-control text-center" placeholder="Ingrese el valor de PPC" aria-invalid="false" min="0" step="0.01">
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>Talla</strong>
                        <br>
                        <input type="number" id="height" name="height" class="form-control text-center" placeholder="Ingrese el talle" aria-invalid="false" min="0" step="0.01">
                    </div>
                    <div class="col-md-6 b-r"><strong>¿Exámen físico normal?</strong>
                        <br>
                        <select  class="form-control">
                        <option value="">Elija una opción</option>
                        <option value="si">SI</option>
                        <option value="no">NO</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>Alimentación</strong>
                        <br>
                        <textarea class="form-control text-center" name="nutrition" placeholder="Ingrese descripción de alimentación."></textarea>
                    </div>
                    <div class="col-md-6 b-r">
                        <strong>Exámen físico observaciones</strong>
                        <br>
                        <textarea class="form-control text-center" name="fisicalObeservations" placeholder="Ingrese las observaciones del exámen físico."></textarea>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>¿Vacunas completas?</strong>
                        <br>
                        <select  class="form-control">
                        <option value="">Elija una opción</option>
                        <option value="si">SI</option>
                        <option value="no">NO</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <strong>¿Maduración acorde?</strong>
                        <br>
                        <select  class="form-control">
                        <option value="">Elija una opción</option>
                        <option value="si">SI</option>
                        <option value="no">NO</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>Vacunas observaciones</strong>
                        <br>
                        <textarea class="form-control text-center" name="vaccinationObservation" placeholder="Ingrese las observaciones de vacunación."></textarea>
                    </div>
                    <div class="col-md-6">
                        <strong>Maduración observaciones</strong>
                        <br>
                        <textarea class="form-control text-center" name="madurationObservation" placeholder="Ingrese las observaciones de maduración."></textarea>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-12">
                        <strong>Observaciones Generales</strong>
                        <br>
                        <textarea class="form-control text-center" name="generalObservations" placeholder="Ingrese las observaciones generales."></textarea>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-12"><strong>Control Por</strong>
                        <p>{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
                    </div>
                </div>
                <hr>
                <button class="btn pull-right">Confirmar</button>
            </div>
        </div>
    </div>
</form>