{% extends 'utils/recordCard.html.twig' %} 

{% block buttons %}
    <a title="Agregar Consulta" class="btn btn-sm btn-primary " id="editbtn" href="/patients">Agregar</a>           
{% endblock %}

{% block navtabs %}
    <li class="nav-item">
        <a class="nav-link active" id="personal-tab" data-form="#ClinicalRecords" data-toggle="tab" href="#records" role="tab" aria-controls="records" aria-expanded="true"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden"> Historia</span> Clínica</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="reports-tab" data-form="#reports" data-toggle="tab" href="#reports" role="tab" aria-controls="records" aria-expanded="true"><i class="fa fa-bar-chart" aria-hidden="true"></i> Reportes</a>
    </li>
{% endblock %}

{% block tabcontent %}
    <div class="tab-pane fade show active" id="records" role="tabpanel" aria-labelledby="records-tab">
        <br>
        <div>
            {% include 'Patients/ClinicalRecords/recordsTable.html.twig' %}
        </div>
    </div>
    <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="records-tab">
        <br>
        <div>
        </div>
    </div>
{% endblock %}



