
<div class="no-results card-block">
        <h2 class="lead">No hay controles registrados</h2>
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
        <br>
        {% if currentUser.hasPermission('control_new') and not patient.deleted %}
                <a class="btn btn-outline-primary" href="/patient/{{patient.id}}/records/new">Agregar Control</a>
        {% endif %}
</div>