<table class="table table-striped" id="records" summary="Lista de controles del paciente">
    <thead>
        <tr>
            <th id="fecha">Fecha</th>
            <th id="edad">Edad</th>
            <th id="peso">Peso</th>
            <th id="pediatra">Pediatra</th>
            <th id="opciones">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}

        {% endfor %}
    </tbody>
</table>