{% if currentUser.hasPermission('historiaClinica_new') %}
    <a id="agregar-btn" class="btn btn-primary btn-sm" href="/patient/{{patient.id}}/records/create">Agregar</a>
    <br>  
{% endif %}

<table class="table table-striped" id="recordsTable" summary="Lista de controles del paciente">
    <thead>
        <tr>
            <th id="fecha" class="text-center">Fecha</th>
            <th id="pediatra" class="text-center">Pediatra</th>
            <th id="opciones" class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% include 'Patients/ClinicalRecords/records.html.twig' %}
    </tbody>
</table>