{% embed 'utils/recordCard.html.twig' with {'patient': clinicalRecord.patient,'returnRoute': '/patient/' ~ clinicalRecord.patient.id ~ '/records'} %} 


{% block modals %}
    {% if currentUser.hasPermission('control_destroy') %}
        {% include 'Patients/ClinicalRecords/deleteRecord.html.twig' %}
    {% endif %}            
{% endblock %}

{% block buttons %}
    {% if currentUser.hasPermission('control_destroy') %}
       <button title="Eliminar Consulta" data-toggle="modal" data-target="#deleteRecord" class="btn btn-sm btn-danger" id="deletebtn"><i class="fa fa-trash" aria-hidden="true"></i></button>
    {% endif %}  
    {% if currentUser.hasPermission('control_update') and clinicalRecord.user == currentUser %}
       <a title="Editar Consulta" class="btn btn-sm btn-orange" id="editbtn" href="/patient/{{ patient.id }}/record/{{clinicalRecord.controlNumber}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    {% endif %}  
    {% if currentUser.hasPermission('paciente_show') %}
        <a href="/patient/{{ patient.id }}" class="btn btn-sm btn-primary pull-right" id="recordsbtn" title="Ver perfil del Paciente"><i class="fa fa-user" aria-hidden="true"></i></a>
    {% endif %}                  
{% endblock %}

{% block navtabs %}
    <li class="nav-item">
        <a class="nav-link active" id="records-tab" data-form="#ClinicalRecords" data-toggle="tab" href="#records" role="button" aria-controls="records" aria-expanded="true"><i class="fa fa-calendar" aria-hidden="true"></i> {{now|date("d/m/Y")}}</a>
    </li>
{% endblock %}

{% block tabcontent %}
    <div class="tab-pane fade show active" id="records" aria-labelledby="records-tab">
        <br>
        <div>
            {% include 'Patients/ClinicalRecords/recordInformation.html.twig' %}
        </div>
    </div>
{% endblock %}

{% endembed %}
