{% if currentUser.hasPermission('control_new') and not patient.deleted %}
<a id="agregar-btn" class="btn btn-primary btn-sm" href="/patient/{{patient.id}}/records/new">Agregar</a>
<br> 
{% endif %}

<table class="table table-striped" id="recordsTable" summary="Lista de controles del paciente">
    <thead>
        <tr>
            <th id="fecha" class="text-center">Fecha</th>
            <th id="pediatra" class="text-center">Pediatra</th>
            <th id="opciones" class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% include 'Patients/ClinicalRecords/records.html.twig' %}
    </tbody>
</table>

<!-- paginacion -->
{% if data.page != 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item {% if data.page == 1 %} disabled {% endif %}">
                <a class="page-link" href=""tabindex="-1">Ant</a>
            </li>
            {% for i in 1..data.pages %}
            <li class="page-item {% if i == data.page %} active {% endif %}">
                <a class="page-link" href=""></a>
            </li>
            {% endfor %}
            <li class="page-item {% if data.page == data.pages %} disabled {% endif %}">
                <a class="page-link" href="">Sig</a>
            </li>
        </ul>
    </nav>
{% endif %}