{% extends 'utils/base.html.twig' %}

{% block body %}
<div class = "logIn">

    {% embed 'utils/card.html.twig' with {'title': 'Iniciar Sesión'} %} 
    
        {% block content %}
            
        <form method="post" action="/login/create" id="logInForm">
            <div class="form-group">
                <input type="text" id="_username" name="username" class="form-control" placeholder="Nombre de usuario"
                    value="{{ username }}" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" id="_password" name="pass" class="form-control" placeholder="Contraseña" required>
            </div>

            <button class="form-group btn btn-lg btn-secundary btn-block" type="submit">Acceder</button>
            <div class="text-center">
                <a href="#">No me acuerdo mi contraseña</a>
            </div>
        </form>

        {% endblock %} 
    
    {% endembed %}

</div>
{% endblock %}


{% block javascripts %}
    <script src="/web/assets/jquery-validate/jquery.validate.min.js"></script>
    <script src="/web/dist/js/logInValidation.js"></script>
{% endblock %}
