{% extends 'utils/base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/dist/css/error.css">
{% endblock %}


{% block body %}
    <div class="errores">
        <h1>404</h1>
        <section>Página no encontrada</section>
    </div>
{% endblock %}