{% extends 'utils/base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/dist/css/error.css">
{% endblock %}


{% block body %}
    <div class="errores">
        <h2>Mantenimiento</h2>
        <section>Intente acceder más tarde</section>
    </div>
{% endblock %}